<div class="about-container">
	<h2>About Just Tabs</h2>
	<p>Just tabs is a user centered site and was created to make consuming tablature easier and more efficient.</p>
	<p>If you have any suggestions or comments, please contact me on <a href="https://github.com/AlexChaseJones">Github</a>, <a href="https://www.linkedin.com/in/alex-jones-2942b190">LinkedIn</a> or send me an email at alexchasejones@icloud.com.</p>
	<p> All credit for the tabs is given to the respective creators.</p>
</div>